{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1>{% trans 'All statuses page' %}</h1>
<table class="table table-striped">
    <h5><a href="{% url 'create_status' %}">{% trans 'Create status' %}</a></h5>
    <thead>
        <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Creation date' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for p in object_list %}
    <tr>
        <th>{{ p.id }}</th>
        <td>{{ p.name }}</td>
        <td>{{ p.created_at }}</td>
        <td>
            <a class="mr-2" href="{% url 'update_status' pk=p.pk %}">{% trans 'Update'%}</a>
            <a href="{% url 'delete_status' pk=p.pk%}">{% trans 'Delete' %}</a
            ></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}