asgiref @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/22/46/4d/e9d170f76cad59b81e4568f6b37cce88f46df63c197e476a1020862182/asgiref-3.5.2-py3-none-any.whl
certifi @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/ab/60/ac/049f229ab671c6c210f7ca32646b322a0f308c39a527b50544153de57d/certifi-2022.9.24-py3-none-any.whl
charset-normalizer @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/e5/e0/4b/1a8efda7c7e867cc898eee8167f0482e7d650dc2af571484014d4e962d/charset_normalizer-2.1.1-py3-none-any.whl
dj-database-url @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/e0/2e/ea/2b27ceff9e6e08dd6f9b0f803bfff6ac1524c7577ff45366be0110e8b6/dj_database_url-1.0.0-py3-none-any.whl
Django @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/c3/a8/b1/60118b5a70231e8d7a8ae46f99949a60e3e8250d73872a6415e6b2b67f/Django-4.1.1-py3-none-any.whl
django-on-heroku @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/f7/cd/03/bc2c1d41777f56c19166ef0d9b6fdeb6a34fbcedf478d5bd7c78c99ebc/django_on_heroku-1.1.2-py2.py3-none-any.whl
flake8 @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/62/a7/26/e48f1b5cd33d20534deee3ede65fe06f72c5063597ad00e7888bc61b6e/flake8-5.0.4-py2.py3-none-any.whl
gunicorn @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/9f/68/9f/f1166be9473b4fe2cc59c98fac616db1f94b18662b9055d1ac940374e3/gunicorn-20.1.0-py3-none-any.whl
heroku @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/f4/5f/c6/bed33e8ebd49de5253215ff32d6cb07079c9f6ae4eaadbf6f1cdbbc06e/heroku-0.1.4.tar.gz
idna @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/6c/c4/9a/4a40812e61d669fffc474987128ff48aab9be33cdddc5e5038bd96f4ac/idna-3.4-py3-none-any.whl
mccabe @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/6e/13/d3/27dd3d81419a63f54cee1343db4375f63135b517d83e52d7447875f739/mccabe-0.7.0-py2.py3-none-any.whl
psycopg2-binary @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/64/17/37/da0f1ed0fcf79b0aee0957e37f049a8919e418d5c813811ab1572d61ff/psycopg2-binary-2.9.3.tar.gz
pycodestyle @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/5f/82/b7/55e8169e417019a01aec56ea9eaf01d969188a4c827c240a440a3209bf/pycodestyle-2.9.1-py2.py3-none-any.whl
pyflakes @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/e7/19/53/bae1a38831f54ce33cffad8f06e90b911ed4beb5f2e985bc465751a1a1/pyflakes-2.5.0-py2.py3-none-any.whl
python-dateutil @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/0b/24/8a/3783411bfc1b450c60c3e05c7a378205e652e8e116f3205f96e25efd1d/python-dateutil-1.5.tar.gz
requests @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/14/1f/4d/1b93db6513b8ab38db841e4ce62691288ba549a5c1b6f3ca7274a1c9fd/requests-2.28.1-py3-none-any.whl
sqlparse @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/a1/af/f8/455c6a9ddac932a7d03e9c6096c170cba497461b2d2b6eb7d0e7bacb70/sqlparse-0.4.3-py3-none-any.whl
urllib3 @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/01/67/f2/ecf92c52cfdc6b9ccfbcc95351b5c2708889d7031a05bc0c2a2391c5be/urllib3-1.26.12-py2.py3-none-any.whl
whitenoise @ file:///Users/lildrugdgugstyle/Library/Caches/pypoetry/artifacts/39/03/50/ad1176a013bab2448267984096fb10e586d64f3dbc5da1ea1bf59171ec/whitenoise-6.2.0-py3-none-any.whl
