{% extends 'task_manager/base.html' %}
{% load i18n %}

{% block content %}
<h1>{{title}}</h1>
<table class="table table-striped">
    <tread><tr><th>{% trans 'ID' %}</th><th>{% trans 'Username' %}</th><th>{% trans 'Full name' %}</th><th>{% trans 'Creation date' %}</th><th></th></tr></tread>
    <tbody>
    {% for p in object_list %}
    <tr><td>{{ p.id }}</td><td>{{ p.username }}</td><td>{{ p.get_full_name }}</td><td>{{ p.date_joined }}</td><td><a href="{% url 'update_user' pk=p.pk %}">{{ update_word }}</a> | <a href="{% url 'delete_user' pk=p.pk%}">{{ delete_word }}</a></td> </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}