{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1>{% trans "All labels page" %}</h1>

<table class="table table-striped">
    <h5><a href="{% url 'create_label' %}">{% trans "Create label" %}</a></h5>
    <thead>
        <tr>
            <th scope="col">{% trans 'ID' %}</th>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">{% trans 'Creation date' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for p in object_list %}
    <tr>
        <th scope="row" >{{ p.id }}</th>
        <td>{{ p.name }}</td>
        <td>{{ p.created_at }}</td>
        <td>
            <a class="mr-2" href="{% url 'update_label' pk=p.pk %}">{% trans "Update" %}</a>
            <a href="{% url 'delete_label' pk=p.pk%}">{% trans 'Delete' %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}