{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans "All users page"%}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'Username' %}</th>
            <th>{% trans 'Full name' %}</th>
            <th>{% trans 'Creation date' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for p in object_list %}
    <tr>
        <th>{{ p.id }}</td>
        <td>{{ p.username }}</td>
        <td>{{ p.get_full_name }}</td>
        <td>{{ p.date_joined }}</td>
        <td>
            <a class="mr-2" href="{% url 'update_user' pk=p.pk %}">{% trans "Update" %}</a>
            <a href="{% url 'delete_user' pk=p.pk%}">{% trans "Delete" %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}