{% extends 'task_manager/base.html' %}
{% load i18n %}
{% block content %}
<h1>{{title}}</h1>
<table class="table table-striped">
    <a href="{{ creation_page }}">{{ creation_title }}</a>
    <tread><tr><th>{% trans 'ID' %}</th><th>{% trans 'Name' %}</th><th>{% trans 'Creation date' %}</th><th></th></tr></tread>
    <tbody>
    {% for p in object_list %}
    <tr><td>{{ p.id }}</td><td>{{ p.name }}</td><td>{{ p.created_at }}</td><td><a href="{% url update_page pk=p.pk %}">{{ update_word }}</a> | <a href="{% url delete_page pk=p.pk%}">{{ delete_word }}</a></td> </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}