{% extends 'task_manager/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<h1>{{title}}</h1>
<form method="get" class="form-inline center">
    {{ filter.form|crispy }}
    <button class="btn btn-primary" type="submit">{% trans 'Show' %}</button>
</form>
<table class="table table-striped">
    <a href="{{ creation_page }}">{{ creation_title }}</a>
    <thead>
    <tr><th>{{ table_words.id }}</th>
        <th>{{ table_words.name }}</th>
        <th>{{ table_words.status }}</th>
        <th>{{ table_words.author }}</th>
        <th>{{ table_words.executor }}</th>
        <th>{{ table_words.created_at }}</th><td></td></tr>
    </thead>
    <tbody>
    {% for p in filter.qs %}
    <tr><td>{{ p.id }}</td>
        <td><a href='{% url "show_task" pk=p.pk %}'>{{ p.name }}</a></td>
        <td>{{ p.status.name }}</td>
        <td>{{ p.author }}</td>
        <td>{{ p.executor }}</td>
        <td>{{ p.created_at }}</td>
        <td><a href="{% url update_page pk=p.pk %}">{{ update_word }}</a>|<a href="{% url delete_page pk=p.pk%}">{{ delete_word }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}